In [2]:
import pandas as pd

In [4]:
asthma_er = "asthma_er.csv"
asthma_er = pd.read_csv(asthma_er)
asthma_er

,fips,indicator,year,sex,age,count,population,rate,ci,ageAdjust,aci,Unnamed: 11
0,27000,Minnesota,Emergency department visits,2015-2017,All,All ages,55983.0,16578993.0,33.7,(33.5 - 34.0),35.5,(35.2 - 35.8)
1,27001,Aitkin,Emergency department visits,2015-2017,All,All ages,129.8,46069.0,28.2,(23.3 - 33.0),35.8,(29.0 - 42.5)
2,27003,Anoka,Emergency department visits,2015-2017,All,All ages,2962.5,1025246.0,28.9,(27.9 - 29.9),30.6,(29.4 - 31.7)
3,27005,Becker,Emergency department visits,2015-2017,All,All ages,241.8,99129.0,24.4,(21.3 - 27.5),27.5,(24.0 - 31.1)
4,27007,Beltrami,Emergency department visits,2015-2017,All,All ages,429.2,135755.0,31.6,(28.6 - 34.6),33.1,(29.8 - 36.4)
...,...,...,...,...,...,...,...,...,...,...,...,...
100,"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,Phone: (651) 201-5900 or toll free: 1-800-205-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
asthma_er_clean = asthma_er.dropna()
asthma_er_clean

,fips,indicator,year,sex,age,count,population,rate,ci,ageAdjust,aci,Unnamed: 11
0,27000,Minnesota,Emergency department visits,2015-2017,All,All ages,55983.0,16578993.0,33.7,(33.5 - 34.0),35.5,(35.2 - 35.8)
1,27001,Aitkin,Emergency department visits,2015-2017,All,All ages,129.8,46069.0,28.2,(23.3 - 33.0),35.8,(29.0 - 42.5)
2,27003,Anoka,Emergency department visits,2015-2017,All,All ages,2962.5,1025246.0,28.9,(27.9 - 29.9),30.6,(29.4 - 31.7)
3,27005,Becker,Emergency department visits,2015-2017,All,All ages,241.8,99129.0,24.4,(21.3 - 27.5),27.5,(24.0 - 31.1)
4,27007,Beltrami,Emergency department visits,2015-2017,All,All ages,429.2,135755.0,31.6,(28.6 - 34.6),33.1,(29.8 - 36.4)
...,...,...,...,...,...,...,...,...,...,...,...,...
83,27165,Watonwan,Emergency department visits,2015-2017,All,All ages,107.0,32222.0,33.2,(26.9 - 39.5),35.6,(28.6 - 42.5)
84,27167,Wilkin,Emergency department visits,2015-2017,All,All ages,61.0,18791.0,32.5,(24.8 - 41.7),34.9,(26.4 - 45.3)
85,27169,Winona,Emergency department visits,2015-2017,All,All ages,397.8,150838.0,26.4,(23.8 - 29.0),30.7,(27.4 - 33.9)
86,27171,Wright,Emergency department visits,2015-2017,All,All ages,665.8,391602.0,17,(15.7 - 18.3),17.7,(16.2 - 19.1)
87,27173,Yellow Medicine,Emergency department visits,2015-2017,All,All ages,84.5,29165.0,29,(23.1 - 35.9),34.3,(27.1 - 42.7)

In [19]:
asthma_er_clean = asthma_er_clean.rename(
    columns={"fips": "County"})
asthma_er_clean.head()

,County,indicator,year,sex,age,count,population,rate,ci,ageAdjust,aci,Unnamed: 11
0,27000,Minnesota,Emergency department visits,2015-2017,All,All ages,55983.0,16578993.0,33.7,(33.5 - 34.0),35.5,(35.2 - 35.8)
1,27001,Aitkin,Emergency department visits,2015-2017,All,All ages,129.8,46069.0,28.2,(23.3 - 33.0),35.8,(29.0 - 42.5)
2,27003,Anoka,Emergency department visits,2015-2017,All,All ages,2962.5,1025246.0,28.9,(27.9 - 29.9),30.6,(29.4 - 31.7)
3,27005,Becker,Emergency department visits,2015-2017,All,All ages,241.8,99129.0,24.4,(21.3 - 27.5),27.5,(24.0 - 31.1)
4,27007,Beltrami,Emergency department visits,2015-2017,All,All ages,429.2,135755.0,31.6,(28.6 - 34.6),33.1,(29.8 - 36.4)

In [6]:
asthma_hosp = "asthma_hosp.csv"
asthma_hosp = pd.read_csv(asthma_hosp)
asthma_hosp

,fips,indicator,year,sex,age,count,population,rate,ci,ageAdjust,aci
27000,Minnesota,Emergency department visits,2015-2017,All,All ages,55983.0,16578993.0,33.7,(33.5 - 34.0),35.5,(35.2 - 35.8)
27001,Aitkin,Emergency department visits,2015-2017,All,All ages,129.8,46069.0,28.2,(23.3 - 33.0),35.8,(29.0 - 42.5)
27003,Anoka,Emergency department visits,2015-2017,All,All ages,2962.5,1025246.0,28.9,(27.9 - 29.9),30.6,(29.4 - 31.7)
27005,Becker,Emergency department visits,2015-2017,All,All ages,241.8,99129.0,24.4,(21.3 - 27.5),27.5,(24.0 - 31.1)
27007,Beltrami,Emergency department visits,2015-2017,All,All ages,429.2,135755.0,31.6,(28.6 - 34.6),33.1,(29.8 - 36.4)
...,...,...,...,...,...,...,...,...,...,...,...
"St. Paul, MN 55164-0882",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Phone: (651) 201-5900 or toll free: 1-800-205-4987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fax: (651) 201-5926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E-mail: tracking.health@state.mn.us,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Web: http://health.mn.gov/mndata,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
asthma_hosp_clean = asthma_hosp.dropna()
asthma_hosp_clean

,fips,indicator,year,sex,age,count,population,rate,ci,ageAdjust,aci
27000,Minnesota,Emergency department visits,2015-2017,All,All ages,55983.0,16578993.0,33.7,(33.5 - 34.0),35.5,(35.2 - 35.8)
27001,Aitkin,Emergency department visits,2015-2017,All,All ages,129.8,46069.0,28.2,(23.3 - 33.0),35.8,(29.0 - 42.5)
27003,Anoka,Emergency department visits,2015-2017,All,All ages,2962.5,1025246.0,28.9,(27.9 - 29.9),30.6,(29.4 - 31.7)
27005,Becker,Emergency department visits,2015-2017,All,All ages,241.8,99129.0,24.4,(21.3 - 27.5),27.5,(24.0 - 31.1)
27007,Beltrami,Emergency department visits,2015-2017,All,All ages,429.2,135755.0,31.6,(28.6 - 34.6),33.1,(29.8 - 36.4)
...,...,...,...,...,...,...,...,...,...,...,...
27165,Watonwan,Emergency department visits,2015-2017,All,All ages,107.0,32222.0,33.2,(26.9 - 39.5),35.6,(28.6 - 42.5)
27167,Wilkin,Emergency department visits,2015-2017,All,All ages,61.0,18791.0,32.5,(24.8 - 41.7),34.9,(26.4 - 45.3)
27169,Winona,Emergency department visits,2015-2017,All,All ages,397.8,150838.0,26.4,(23.8 - 29.0),30.7,(27.4 - 33.9)
27171,Wright,Emergency department visits,2015-2017,All,All ages,665.8,391602.0,17.0,(15.7 - 18.3),17.7,(16.2 - 19.1)
27173,Yellow Medicine,Emergency department visits,2015-2017,All,All ages,84.5,29165.0,29.0,(23.1 - 35.9),34.3,(27.1 - 42.7)

In [15]:
asthma_hosp_clean.columns

Index(['fips', 'indicator', 'year', 'sex', 'age', 'count', 'population',
       'rate', 'ci', 'ageAdjust', 'aci '],
      dtype='object')

In [17]:
asthma_hosp_clean = asthma_hosp_clean.rename(
    columns={"fips": "County"})
asthma_hosp_clean.head()

,County,indicator,year,sex,age,count,population,rate,ci,ageAdjust,aci
27000,Minnesota,Emergency department visits,2015-2017,All,All ages,55983.0,16578993.0,33.7,(33.5 - 34.0),35.5,(35.2 - 35.8)
27001,Aitkin,Emergency department visits,2015-2017,All,All ages,129.8,46069.0,28.2,(23.3 - 33.0),35.8,(29.0 - 42.5)
27003,Anoka,Emergency department visits,2015-2017,All,All ages,2962.5,1025246.0,28.9,(27.9 - 29.9),30.6,(29.4 - 31.7)
27005,Becker,Emergency department visits,2015-2017,All,All ages,241.8,99129.0,24.4,(21.3 - 27.5),27.5,(24.0 - 31.1)
27007,Beltrami,Emergency department visits,2015-2017,All,All ages,429.2,135755.0,31.6,(28.6 - 34.6),33.1,(29.8 - 36.4)

In [20]:
merge_asthma = pd.merge(asthma_hosp_clean, asthma_er_clean, on="County")
merge_asthma

Empty DataFrame
Columns: [County, indicator_x, year_x, sex_x, age_x, count_x, population_x, rate_x, ci_x, ageAdjust_x, aci _x, indicator_y, year_y, sex_y, age_y, count_y, population_y, rate_y, ci_y, ageAdjust_y, aci _y, Unnamed: 11]
Index: []

[0 rows x 22 columns]